# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log
*.csv

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
out/

# SCSS
*.css.map

# VSCode
.vscode/

# Env
.env
.env.*
