@use "../helpers" as *;

.article-trends {
  border-radius: 100px 100px 0;
  margin-bottom: -150px;
  padding-bottom: 200px;
  background: #fff;
  overflow: hidden;
  background: linear-gradient(-30deg, #5ae9b4 0%, #fffa80 30.4%, #fff 52.4%);
  @include tablet {
    border-radius: 50px 0 50px 0;
  }
  &__list {
    list-style: disc;
    padding-left: 30px;
  }
  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    @include tablet {
      font-size: 30px;
    }
  }
  &__table {
    max-width: 1065px;
    font-weight: 400;
    font-size: 27px;
    line-height: 100%;

    gap: 10px;

    @include tablet {
    }
  }
  &__table-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &__cell {
    border-radius: 18px;
    background: rgba(217, 217, 217, 0.29);
    padding: 20px;
    &--head {
      font-weight: 700;
      background: linear-gradient(90deg, rgba(33, 217, 147, 0.29) 0%, rgba(114, 90, 240, 0.29) 100%);
    }
  }
}

.cell2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.cell3 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.cell4 {
  grid-column-start: 1;
  grid-row-start: 4;
}

.cell5 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.cell6 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.cell7 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.star {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../images/blog/star-grey.png") center/cover no-repeat;
  cursor: pointer;
  transition: background 0.2s;
}
.star.active,
.star:hover,
.star.hovered {
  background: url("../images/blog/star-yellow.png") center/cover no-repeat;
}
