@use "../helpers" as *;

.calculator-section {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 10px 0 33px 0;
  }
  & .calculator {
    grid-row: span 2 / span 2;
    background: rgba(128, 196, 159, 0.1);
    border-radius: 32px;
    padding: 56px 25px 5px 25px;
    &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 75%;
      margin-bottom: 20px;
    }
    &__description {
      margin-bottom: 26px;
      font-weight: 400;
      font-size: 17px;
      line-height: 141%;
    }
    &__subtitle {
      font-weight: 700;
      font-size: 17px;
      line-height: 141%;
      margin-bottom: 20px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 11px;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 17px;
    }
    &__checkbox {
      display: none;
      &:checked ~ .calculator__label .calculator__custom-checkbox {
        border-color: #775da6;
        & .calculator__custom-checkbox-inner {
          opacity: 1;
        }
      }
    }
    &__label {
      display: flex;
      gap: 14px;
      align-items: center;
      cursor: pointer;
    }
    &__custom-checkbox {
      display: flex;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #898989;
      justify-content: center;
      align-items: center;
      transition: border-color 0.2s ease;
      &-inner {
        display: flex;
        width: 10px;
        height: 10px;
        background-color: #775da6;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    }
    &__approximate-price {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 32px;
    }
    &__approximate-text {
      font-weight: 600;
      font-size: 21px;
      line-height: 114%;
    }
    &__approximate-button {
      padding: 10px;
      background: #00bf80;
      border-radius: 33px;
      color: #fff;
      font-weight: 800;
      font-size: 14px;
      line-height: 114%;
    }
    &__note {
      font-weight: 400;
      font-size: 11px;
      line-height: 218%;
    }
  }
}
