.custom-checkbox {
  &__checked {
    display: none;
  }
}
input:checked ~ .custom-checkbox .custom-checkbox__unchecked {
  display: none;
}
input:checked ~ .custom-checkbox .custom-checkbox__checked {
  display: flex;
}
