@use "../helpers" as *;

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(1060);
  margin: 0 auto;
  @include tablet {
    
  }
  &__inner {
    display: flex;
    gap: rem(6);
    border-radius: rem(1000);
    padding: rem(6);
    width: 100%;
    backdrop-filter: blur(20px);
    background: rgba(18, 18, 42, 0.6);
    padding: rem(6);
    @include tablet {
      width: auto;
      flex-direction: column;
      border-radius: rem(20);
      padding: 10px;
    }
  }
  &__submit,
  input {
    border-radius: rem(100);
    padding: rem(14) rem(28) rem(14) rem(15);
    width: rem(246);
    backdrop-filter: blur(20px);
    background: rgba(36, 42, 69, 0.4);
    color: #fff;
  }
  label {
    position: relative;
    color: #00bf80;
    cursor: pointer;
    line-height: 1rem;
    & .main-form__placeholder {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: rem(15);
      & span {
        color: #f10000;
      }
    }
  }
  &__submit {
    background: #7b4cfa;
    color: #fff;
    margin-left: rem(30);
    @include tablet {
      margin-left: 0;
    }
  }
  &__checkbox {
    display: flex;
    gap: rem(10);
    align-items: center;
    align-self: flex-start;
    height: rem(24);
    font-weight: 400;
    font-size: rem(14);
    color: #93dcc4;
    padding-top: rem(29);
    @include tablet {
      max-width: rem(300);
      margin: 0 auto;
      height: auto;
    }
    & input {
      display: none;
    }
  }
}

