@use "../helpers" as *;

.not-found-main {
  display: flex;
  height: 120vh;
  flex-direction: column;
  background-image: url(../../images/404/404-bg.jpg);
  background-size: cover;
  padding-bottom: 50px;
  margin-bottom: -50px;
  background-position: center center;
  @include tablet {
    height: 100vh;
  }
}
.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    width: 720px;
    text-align: center;
    color: #fff;
    backdrop-filter: blur(60px);
    background: rgba(23, 27, 44, 0.4);
    border-radius: 26px;
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    @include tablet {
        padding: 20px;
    }
  }
  &__title {
    font-weight: 700;
    @include fluid-text(51, 25);
    margin: 0;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-weight: 600;
    @include fluid-text(40, 20);
    margin: 0;
    margin-bottom: 10px;
  }
  &__link {
    display: flex;
    justify-content: center;
    background: #7b4cfa;
    border-radius: 100px;
    padding: 12px 30px;
    width: 100%;
  }
}
