@use "../helpers" as *;

.rewards {
  @include mobile {
    padding: 0 rem(16);
    background: #171b2c;
    color: #fff;
    padding-top: rem(40);
    & button {
      color: #fff;
    }
  }
  &__image-wrapper {
    width: rem(340);
    height: rem(340);
    overflow: hidden;
    object-fit: cover;
    @include mobile {
      width: rem(145);
      height: rem(145);
    }
  }
  &__slider {
    @include tablet {
      max-width: rem(720);
    }
    @include mobile {
      max-width: rem(310);
    }
  }
  &__image {
    width: 100%;
  }
}
