.slider-controls {
  display: flex;
  align-items: center;
  gap: 38px;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  &--green {
    color: var(--main-green);
    & .slider-controls__button {
      border: 1px solid var(--main-green);
      &--next {
        background: var(--main-green);
      }
    }
  }

  &__button {
    border: 1px solid #fff;
    border-radius: 70px;
    padding: 16px 32px;
    &--prev {
    }
    &--next {
      background: #fff;
    }
  }
  &__current {
    text-decoration: underline;
  }
}
