@use "../helpers" as *;

.solutions-template-request {
  background: linear-gradient(136deg, #fff 0%, #0fcc84 100%);
  color: #323232;
  padding-bottom: 30px;
  &__title {
    font-weight: 700;
    font-size: 82px;
    line-height: 100%;
    margin-bottom: 0;
    @include tablet {
      font-size: 40px;
    }
  }
  &__subtitle {
    font-weight: 500;
    font-size: 39px;
    line-height: 100%;
    margin-top: 20px;
    @include tablet {
      font-size: 19px;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 117px;
    @include tablet {
      display: flex;
      padding-bottom: 20px;
    }
  }
  &__images {
    @include tablet {
      display: none;
    }
  }

  &__form {
    label input,
    label {
      color: rgba(0, 0, 0, 0.4);
    }

    .main-form__placeholder--date {
      display: flex;
      justify-content: space-between;
      width: 95%;
    }
  }
}
.contacts__submit--w100 {
  width: 100%;
}

.solutions-main {
  color: #3c3c3c;
}

.good-choice {
  font-size: 27px;
  line-height: 170%;
  @include tablet {
    font-size: 20px;
  }
}

.list-disc {
  list-style: disc;
  padding-left: 30px;
}
.feature {
  position: relative;
  padding-left: 120px;
  @include tablet {
    padding-left: 0;
    padding-top: 110px;
  }
  &__title {
    font-weight: 900;
    margin: 0;
    color: #32b6ee;
  }
  &--1::after {
    background-image: url(../images/solutions/feature1.png);
  }
  &--2::after {
    background-image: url(../images/solutions/feature2.png);
  }
  &--3::after {
    background-image: url(../images/solutions/feature3.png);
  }
  &--4::after {
    background-image: url(../images/solutions/feature4.png);
  }
  &--5::after {
    background-image: url(../images/solutions/feature5.png);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 98px;
    height: 98px;
    background-repeat: no-repeat;
    @include tablet {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.form-block {
  color: #323232;
  background: linear-gradient(136deg, #fff 0%, #0fcc84 100%);
  padding: 0 16px;
  padding-bottom: 30px;
  padding-top: 34px;
  padding-bottom: 180px;
  margin-bottom: -150px;


  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    @include tablet {
      font-size: 30px;
    }
  }
  &__subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 39px;
    line-height: 100%;
    @include tablet {
      font-size: 19px;
    }
  }
  &__form-wrapper {
    max-width: 459px;
    margin: 0 auto;
  }
}

.pros-cons {
  background: #3c3c3c;
  font-size: 27px;
  line-height: 170%;
  padding: 63px 0 23px 0;
  border-radius: 100px 100px 0 0;
  background-image: url(../images/solutions/pos-cos-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-bottom: 178px;
  margin-bottom: -150px;
  @include tablet {
    border-radius: 50px 50px 0 0;
    font-size: 20px;
    background-image: none;
  }
  &__title {
    color: #fff;
    font-size: 55px;
    @include tablet {
      font-size: 25px;
    }
  }
  color: #fff;
  &__sublist {
    list-style: disc;
    padding-left: 30px;
  }
}

.border-radius-block {
  border-radius: 100px 100px 0 0;
  padding-top: 35px;
  &--white {
    background-color: #fff;
  }
  &--dark {
    background: #3c3c3c;
    color: #fff;
  }
  &--green {
    background: linear-gradient(-30deg, #5ae9b4 0%, #fffa80 30.4%, #fff 52.4%);
  }
  @include tablet {
    border-radius: 50px 50px 0 0;
  }
}

.article-title-h2 {
  font-weight: 600;
  font-size: 68px;
  line-height: 120%;
  @include tablet {
    font-size: 31px;
  }
}
.article-title-h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  @include tablet {
    font-size: 24px;
  }
}

.fz-27 {
  font-size: 27px;
  line-height: 170%;
  color: #3c3c3c;
  &--color-white {
    color: #fff;
  }
  @include tablet {
    font-size: 20px;
  }
}
.bottom-overlay {
  padding-bottom: 165px;
  margin-bottom: -150px;
}

.text-yellow {
  color: #fff200;
}

.template-rights {
  &__images {
    float: right;
    margin-left: 30px;
    @include tablet {
      float: none;
      width: 100%;
      margin-left: 0;
    }
  }
}

.text-green-gradient {
  background: linear-gradient(90deg, #7a4ff8 0%, #20da92 0.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
