@use "helpers" as *;
html {
  &.is-lock {
    overflow: hidden;
  }
  scroll-behavior: smooth;
}
body {
  @include fluid-text(16, 14);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
button,
input {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.7;
  }
}
ul {
  list-style: none;
  padding: 0;
}
* {
  box-sizing: border-box;
}
main {
  flex-grow: 1;
}
