@use "helpers" as *;

:root {
  --font-family: "Onest", sans-serif;

  --container-width: #{rem(1420)};
  --container-padding-x: #{rem(16)};

  --transition-duration: 0.2s;

  
  --main-green: #00bf80;
  --main-purple: #7448ec;
}
