@use "helpers" as *;

@use "fonts";
@use "variables";
@use "utils";
@use "global";

@use "blocks/promo";
@use "blocks/header";
@use "blocks/burger";
@use "blocks/main-form";
@use "blocks/custom-checkbox";
@use "blocks/breadcrumbs";
@use "blocks/footer";
@use "blocks/contacts";
@use "blocks/modal-select-region";
@use "blocks/quick-check";
@use "blocks/check-list";
@use "blocks/last-screen";
@use "blocks/info-change";
@use "blocks/breadcrumbs-center";
@use "blocks/person-card";
@use "blocks/education-qualification";
@use "blocks/slider";
@use "blocks/rewards";
@use "blocks/prices";
@use "blocks/reviews";
@use "blocks/qa";
@use "blocks/person-modal";
@use "blocks/cookie-banner";
@use "blocks/not-found";
@use "blocks/contacts-form";

.person-main {
  background: linear-gradient(-35deg, #5ae9b4 0%, #fffa80 14.4%, #fff 25.4%);
  padding-bottom: rem(100);
  margin-bottom: rem(-100);
}

.policy-main {
  border-radius: 50px 50px 0 0;
  padding-bottom: rem(100);
  margin-bottom: rem(-100);
  background: linear-gradient(-35deg, #5ae9b4 0%, #fffa80 30.4%, #fff 52.4%);
}
