@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family: "Onest", sans-serif;
  --container-width: 88.75rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 767.98px) {
  .visible-mobile {
    display: none !important;
  }
}

.highlight {
  color: #fff;
  background: linear-gradient(90deg, #7b4cfa 0%, #1edd90 100%);
  padding: 0 0.3125rem;
  white-space: nowrap;
}

.color-red {
  color: #df1a1a;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8392857143rem + 0.1785714286vw, 1rem);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

button, input {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
button:focus, input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s ease;
}
a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

.promo {
  background-color: #000;
  padding: 8.25rem 0 1.3125rem 0;
}
@media (max-width: 1023.98px) {
  .promo {
    padding: 3.75rem 0 0.625rem 0;
  }
}
.promo__title {
  font-weight: 700;
  font-size: clamp(1.625rem, 4vw, 2.875rem);
  line-height: 120%;
  text-align: center;
  color: #fff;
  max-width: 70.0625rem;
  margin: 0 auto;
}
.promo__subtitle {
  padding-top: 1.25rem;
  font-weight: 500;
  font-size: clamp(1rem, 1.3125rem, 1.5625rem);
  line-height: 120%;
  text-align: center;
  color: #fff;
  max-width: 55.5rem;
  margin: 0 auto;
}
.promo__main-form {
  padding: 4.125rem 0 9.375rem 0;
}
@media (max-width: 1023.98px) {
  .promo__main-form {
    padding: 1.875rem 0 4.375rem 0;
  }
}

.header {
  background-color: #000;
  padding-top: 1.5rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: -1px;
}
@media (max-width: 1023.98px) {
  .header {
    padding-top: 0.75rem;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  padding: 1.25rem 3.125rem;
  background: rgba(18, 18, 42, 0.6);
  border-radius: 6.25rem;
}
@media (max-width: 1023.98px) {
  .header__container {
    padding: 0.625rem 1.25rem;
  }
}
.header__menu-wrapper {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1023.98px) {
  .header__menu-wrapper {
    display: none;
  }
}
.header__menu-wrapper.is-open {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  background-color: #000;
  left: 0;
  right: 0;
  top: 5.5625rem;
  z-index: 1;
}
.header__menu-wrapper.is-open .header__nav {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.header__menu-wrapper.is-open .header__list {
  flex-direction: column;
  padding: 0;
  gap: 0.625rem;
}
.header__menu-wrapper.is-open .header__contacts {
  flex-direction: column;
  gap: 0.625rem;
}
.header__nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 1.375rem;
  align-items: center;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__contacts--mobile {
  display: none;
}
@media (max-width: 1023.98px) {
  .header__contacts--mobile {
    display: flex;
    flex-grow: 1;
    justify-content: end;
  }
}
@media (max-width: 767.98px) {
  .header__contacts--mobile {
    display: none;
  }
}
.header__socials {
  line-height: 1rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.header__city {
  display: flex;
  gap: 0.3125rem;
  font-size: 0.875rem;
  color: #00bf80;
}

.burger {
  display: none;
  align-items: center;
}
@media (max-width: 1023.98px) {
  .burger {
    display: flex;
  }
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 66.25rem;
  margin: 0 auto;
}
.main-form__inner {
  display: flex;
  gap: 0.375rem;
  border-radius: 62.5rem;
  padding: 0.375rem;
  width: 100%;
  backdrop-filter: blur(20px);
  background: rgba(18, 18, 42, 0.6);
  padding: 0.375rem;
}
@media (max-width: 1023.98px) {
  .main-form__inner {
    width: auto;
    flex-direction: column;
    border-radius: 1.25rem;
    padding: 10px;
  }
}
.main-form__submit,
.main-form input {
  border-radius: 6.25rem;
  padding: 0.875rem 1.75rem 0.875rem 0.9375rem;
  width: 15.375rem;
  backdrop-filter: blur(20px);
  background: rgba(36, 42, 69, 0.4);
  color: #fff;
}
.main-form label {
  position: relative;
  color: #00bf80;
  cursor: pointer;
  line-height: 1rem;
}
.main-form label .main-form__placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.9375rem;
}
.main-form label .main-form__placeholder span {
  color: #f10000;
}
.main-form__submit {
  background: #7b4cfa;
  color: #fff;
  margin-left: 1.875rem;
}
@media (max-width: 1023.98px) {
  .main-form__submit {
    margin-left: 0;
  }
}
.main-form__checkbox {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  align-self: flex-start;
  height: 1.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: #93dcc4;
  padding-top: 1.8125rem;
}
@media (max-width: 1023.98px) {
  .main-form__checkbox {
    max-width: 18.75rem;
    margin: 0 auto;
    height: auto;
  }
}
.main-form__checkbox input {
  display: none;
}

.custom-checkbox__checked {
  display: none;
}

input:checked ~ .custom-checkbox .custom-checkbox__unchecked {
  display: none;
}

input:checked ~ .custom-checkbox .custom-checkbox__checked {
  display: flex;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: clamp 1rem 0.9375rem 0.875rem;
  color: #bfaaf8;
  gap: 1.125rem;
}
.breadcrumbs span:last-child {
  color: #a081f5;
}

.footer {
  padding: 2.5rem 0 0 0;
  color: #fff;
  background: #171b2c;
  border-radius: 6.25rem 6.25rem 0 0;
}
@media (max-width: 1600px) {
  .footer {
    border-radius: 3.125rem 3.125rem 0 0;
  }
}
.footer__columns {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 1023.98px) {
  .footer__columns {
    flex-wrap: wrap;
    justify-content: start;
  }
}
.footer__title {
  font-weight: 400;
  font-size: 1.25rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.footer__line {
  border: 0.0625rem solid #444;
  margin: 0 1rem;
}
.footer__contacts {
  padding: 1.875rem;
}
@media (max-width: 1023.98px) {
  .footer__contacts {
    padding: 1.875rem 0;
  }
}
.footer__city {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #bfaaf8;
  column-gap: 1.25rem;
}
.footer__city-name {
  cursor: pointer;
  margin-bottom: 0.625rem;
}
.footer__city-name.active {
  color: #a081f5;
}
.footer__city-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #fff;
  margin: 0;
}
.footer__header {
  background: #171b2c;
  padding-top: 0;
}
.footer__header .header__container {
  background: transparent;
}
@media (max-width: 767.98px) {
  .footer__header .header__container {
    justify-content: center;
  }
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
@media (max-width: 1023.98px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
.contacts__region {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  position: relative;
}
.contacts__region-list {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, #5ae9b4 0%, #2ce099 76.21%, #1edd90 100%);
  flex-direction: column;
  gap: 0.625rem;
  border-radius: 0 0 3.125rem 3.125rem;
  padding: 0.625rem 3.125rem 0.625rem 2.5rem;
  font-weight: 500;
  font-size: clamp(1rem, 0.9285714286rem + 0.3571428571vw, 1.25rem);
  color: #3c3c3c;
  right: 0;
  top: 1.5625rem;
  width: 100%;
}
.contacts__region-list li {
  border-bottom: 0.0625rem solid #444;
}
.contacts__region-label {
  font-weight: 500;
  font-size: clamp(1.875rem 1.5625rem 1.25rem);
}
.contacts__region-select {
  background: linear-gradient(90deg, #5ae9b4 0%, #2ce099 76.21%, #1edd90 100%);
  border-radius: 6.25rem;
  padding: 0.625rem 3.125rem 0.625rem 2.5rem;
  font-weight: 500;
  font-size: clamp(1.875rem 1.5625rem 1.25rem);
  color: #3c3c3c;
  position: relative;
  cursor: pointer;
}
.contacts__region-select::after {
  position: absolute;
  content: "";
  display: flex;
  width: 0.625rem;
  height: 0.625rem;
  background-image: url(../../icons/select-region-arrow.svg);
  right: 1.5625rem;
  top: 50%;
  transform: translateY(-50%);
}
.contacts__list {
  font-weight: 500;
  font-size: clamp(1.25rem 1.125rem 1rem);
  line-height: 120%;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.contacts__form {
  display: flex;
  flex-direction: column;
}
.contacts__form label {
  position: relative;
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  line-height: 1rem;
}
.contacts__form label input {
  border-bottom: 0.0625rem solid #00bf80;
  padding: 0.75rem 1rem 0.75rem 0.625rem;
  width: 100%;
  color: #fff;
}
.contacts__form label .main-form__placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.9375rem;
}
.contacts__form label .main-form__placeholder span {
  color: #f10000;
}
.contacts__submit {
  margin: 0;
  margin-top: 1.25rem;
}
.contacts__checkbox {
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1023.98px) {
  .contacts__checkbox {
    margin-top: 1.875rem;
    max-width: unset;
  }
}
.contacts__map-block {
  display: flex;
  flex-direction: column;
}
.contacts__map-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
  font-size: clamp(1.125rem 1rem 0.875rem);
  color: #3c3c3c;
  background: #b0e3d0;
  border-radius: 1.25rem 1.25rem 0 0;
}
.contacts__map-tab {
  border-radius: 1.25rem 1.25rem 0 0;
  position: relative;
  padding: 0.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contacts__map-tab.active {
  box-shadow: -2px 0 4px 0 rgba(57, 184, 137, 0.4);
  background: #4dc196;
  z-index: 3;
}
.contacts__map {
  flex-grow: 1;
  border-radius: 0 0 1.25rem 1.25rem;
  overflow: hidden;
}
@media (max-width: 1023.98px) {
  .contacts__map {
    height: 350px;
  }
}

.modal-select-region {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-select-region__inner {
  background: #fff;
  border-radius: 1.25rem;
  padding: 2.1875rem;
  font-size: 1.875rem;
}
.modal-select-region__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.modal-select-region__item {
  cursor: pointer;
  padding: 0.625rem 1.25rem;
  background: #b0e3d0;
  border-radius: 0.625rem;
}

.quick-check {
  border-radius: 6.25rem 6.25rem 0 0;
  background: linear-gradient(-15deg, #5ae9b4 0%, #fffa80 30.4%, #fff 52.4%);
  padding-bottom: 12.5rem;
  margin-bottom: -12.5rem;
}
@media (max-width: 1023.98px) {
  .quick-check {
    border-radius: 3.125rem 3.125rem 0 0;
  }
}
.quick-check__title {
  font-weight: 700;
  font-size: clamp(2.125rem, 1.5178571429rem + 3.0357142857vw, 4.25rem);
  text-align: center;
  padding-top: 4.375rem;
}
@media (max-width: 1023.98px) {
  .quick-check__title {
    padding-top: 1.875rem;
  }
}
.quick-check__decr {
  max-width: 88.75rem;
  margin: 0 auto;
  font-size: clamp(1.25rem, 1.1428571429rem + 0.5357142857vw, 1.625rem);
  line-height: 131%;
  text-align: center;
  padding: 1rem;
}
.quick-check__main-form {
  padding: 4.25rem 0;
  color: #fff;
}
@media (max-width: 1023.98px) {
  .quick-check__main-form {
    padding: 1.75rem 0;
  }
}
.quick-check__main-form .main-form__placeholder {
  color: #fff;
}
.quick-check__main-form .main-form__checkbox {
  color: #000;
}

.check-list {
  color: #202020;
  background: #3c3c3c;
  padding-bottom: 12.5rem;
  margin-bottom: -12.5rem;
  padding-top: 2.25rem;
  border-radius: 6.25rem 6.25rem 0 0;
}
@media (max-width: 1023.98px) {
  .check-list {
    padding-top: 1.25rem;
    border-radius: 3.125rem 3.125rem 0 0;
  }
}
.check-list__title {
  font-weight: 600;
  font-size: clamp(1.6875rem, 0.9553571429rem + 3.6607142857vw, 4.25rem);
  line-height: 110%;
  text-align: center;
  color: #fefdfd;
  max-width: 79rem;
  margin: 0 auto;
}
.check-list__descr {
  font-weight: 400;
  padding-top: 2.0625rem;
  font-size: clamp(1.125rem, 0.9821428571rem + 0.7142857143vw, 1.625rem);
  text-align: center;
  color: #fefdfd;
  max-width: 79rem;
  margin: 0 auto;
}
.check-list__form {
  padding-top: 5rem;
}
@media (max-width: 1023.98px) {
  .check-list__form {
    padding-top: 2.5rem;
  }
}
.check-list__block {
  padding: 2.0625rem 2.8125rem 0.625rem 2.8125rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 0.75rem;
  min-height: 31.25rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023.98px) {
  .check-list__block {
    padding: 0.75rem;
  }
}
.check-list__block-title {
  font-weight: 600;
  font-size: clamp(1.5625rem, 1.3839285714rem + 0.8928571429vw, 2.1875rem);
  color: #202020;
}
.check-list__block-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #5a5a5a;
  padding-top: 22px;
}
.check-list__items {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  flex-grow: 1;
}
.check-list__item label {
  cursor: pointer;
}
.check-list__item ul {
  padding-left: 1.875rem;
  list-style: disc;
}
.check-list__checkbox input {
  display: none;
}
.check-list__checkbox {
  display: flex;
  gap: 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: #202020;
}
.check-list__checkbox .custom-checkbox {
  height: 1.375rem;
}
.check-list__button {
  border-radius: 0.5rem;
  background: #7b4cfa;
  padding: 0.375rem 3.625rem;
  font-weight: 600;
  font-size: 0.875rem;
  color: #fff;
}
@media (max-width: 1023.98px) {
  .check-list__button {
    padding: 0.375rem 2.375rem;
  }
}
.check-list__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-top: 1.25rem;
}
.check-list__pagination-item {
  display: flex;
  border-radius: 100%;
  background-color: #7b4cfa;
  width: 14px;
  height: 14px;
}
.check-list__pagination-item.active {
  width: 20px;
  height: 20px;
  background-color: #251d3b;
}

.last-screen {
  background-image: url(../../images/last-screen/last-screen-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.8125rem 0.9375rem;
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: 2.1875rem;
}
@media (max-width: 1200px) {
  .last-screen {
    gap: 0.625rem;
    grid-template-columns: 1fr;
  }
}
.last-screen__title {
  font-weight: 600;
  font-size: clamp(1.5625rem, 1.4196428571rem + 0.7142857143vw, 2.0625rem);
  line-height: 120%;
  color: #202020;
}
.last-screen__descr {
  font-weight: 400;
  font-size: clamp(1rem, 0.9285714286rem + 0.3571428571vw, 1.25rem);
}
.last-screen__list {
  padding-left: 1.875rem;
  list-style-type: disc;
}
.last-screen__right {
  display: flex;
  align-items: end;
}
.last-screen__color-red {
  font-weight: 800;
  color: #f80200;
}
.last-screen__form {
  max-width: 49.6875rem;
  margin: 0;
}
.last-screen__form .main-form__placeholder {
  color: #fff;
}
.last-screen__form .main-form__checkbox {
  color: #000;
}
.last-screen__form input {
  width: 10.9375rem;
}
@media (max-width: 1023.98px) {
  .last-screen__form input {
    width: 100%;
  }
}

.info-change {
  background: linear-gradient(-15deg, #5ae9b4 0%, #fffa80 30.4%, #fff 52.4%);
  padding-bottom: 12.5rem;
  margin-bottom: -12.5rem;
}
.info-change__title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.1964285714rem + 3.3928571429vw, 4.25rem);
  line-height: 120%;
  color: #000;
  text-align: center;
}
.info-change__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 1023.98px) {
  .info-change__row {
    grid-template-columns: 1fr;
  }
  .info-change__row--revers {
    display: flex;
    flex-direction: column-reverse;
  }
}
.info-change__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-change__list {
  padding-left: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
@media (max-width: 1023.98px) {
  .info-change__list {
    gap: 0.625rem;
  }
}
.info-change__list li {
  position: relative;
}
.info-change__list li::before {
  content: "";
  position: absolute;
  display: flex;
  width: 25px;
  height: 25px;
  background-image: url(../../icons/tick.png);
  top: 0;
  left: -2.1875rem;
}
.info-change__list--check li::before {
  width: 1.6875rem;
  height: 2.25rem;
  background-image: url(../../icons/change-vector.svg);
}
.info-change__card {
  padding: 1.5625rem;
  font-size: clamp(1.1875rem, 1.0625rem + 0.625vw, 1.625rem);
  display: flex;
  flex-direction: column;
}
.info-change__card img {
  width: 100%;
  max-width: 43.75rem;
  margin: 0 auto;
}
.info-change__card--radius {
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.25);
  background: #fafafa;
  border-radius: 1.25rem;
  height: 100%;
  overflow: hidden;
  gap: 0.625rem;
}
.info-change__card--radius .info-change__card-text {
  margin-left: 2.5rem;
}
.info-change__card--radius div:last-child {
  justify-content: end;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (max-width: 1023.98px) {
  .info-change__card {
    padding: 0.9375rem;
  }
}
.info-change__card--image {
  padding: 0;
}
.info-change__card-title {
  font-weight: 800;
  font-size: clamp(1.6875rem, 1.4553571429rem + 1.1607142857vw, 2.5rem);
  margin: 0;
}
.info-change__card-subtitle {
  position: relative;
  font-weight: 700;
  font-size: clamp(1.1875rem, 1.0625rem + 0.625vw, 1.625rem);
  margin: 0;
  margin-left: 2.5rem;
}
.info-change__card-subtitle::after {
  position: absolute;
  left: -2.5rem;
  top: 0;
  content: "";
  width: 1.5625rem;
  height: 1.5625rem;
  background-image: url(../../icons/tick.png);
  background-size: cover;
}
.info-change__card-text {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
