@use "helpers" as *;

@use "fonts";
@use "variables";
@use "utils";
@use "global";

@use "blocks/promo";
@use "blocks/header";
@use "blocks/burger";
@use "blocks/main-form";
@use "blocks/custom-checkbox";
@use "blocks/breadcrumbs";
@use "blocks/footer";
@use "blocks/contacts";
@use "blocks/modal-select-region";
@use "blocks/quick-check";
@use "blocks/check-list";
@use "blocks/last-screen";
@use "blocks/info-change";
@use "blocks/breadcrumbs-center";
@use "blocks/person-card";
@use "blocks/education-qualification";
@use "blocks/slider";
@use "blocks/rewards";
@use "blocks/prices";
@use "blocks/reviews";
@use "blocks/qa";
@use "blocks/person-modal";
@use "blocks/cookie-banner";
@use "blocks/not-found";
@use "blocks/contacts-form";
@use "blocks/blog-tags";
@use "blocks/blog";
@use "blocks/article-meta";
@use "blocks/article";
@use "blocks/article-transform";
@use "blocks/article-trends";
@use "blocks/feedback-block";
@use "blocks/hero-search";
@use "blocks/toc";
@use "blocks/term";
@use "blocks/solutions-hero";
@use "blocks/solutions-intro";
@use "blocks/solutions-note";
@use "blocks/solutions-types";
@use "blocks/solutions-template-request";
@use "blocks/solutions-difference";
@use "blocks/help-block";
@use "blocks/attract-block";
@use "blocks/cta-section";
@use "blocks/statics";
@use "blocks/calculator-section";
@use "blocks/banner";
@use "blocks/steps";
@use "blocks/projects";
@use "blocks/slider-controls";
@use "blocks/reviews-main";
@use "blocks/team";
@use "blocks/price";



.person-main {
  background: linear-gradient(-35deg, #5ae9b4 0%, #fffa80 14.4%, #fff 25.4%);
  padding-bottom: rem(100);
  margin-bottom: rem(-100);
}

.policy-main {
  border-radius: 50px 50px 0 0;
  padding-bottom: rem(100);
  margin-bottom: rem(-100);
  background: linear-gradient(-35deg, #5ae9b4 0%, #fffa80 30.4%, #fff 52.4%);
}
.green-text {
  font-weight: 800;
  color: #00bf80;
}

.text-green-main {
  color: var(--main-green);
}